<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.micro.fast.upms.dao.UpmsRoleMapper" >
  <resultMap id="BaseResultMap" type="com.micro.fast.upms.pojo.UpmsRole" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="description" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="orders" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="ctime" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="uptime" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="version" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, description, orders, ctime, uptime, version
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from upms_role
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from upms_role
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.micro.fast.upms.pojo.UpmsRole" >
    insert into upms_role (id, name, description, 
      orders, ctime, uptime, 
      version)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{orders,jdbcType=BIGINT}, #{ctime,jdbcType=BIGINT}, #{uptime,jdbcType=BIGINT}, 
      #{version,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.micro.fast.upms.pojo.UpmsRole" >
    insert into upms_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="orders != null" >
        orders,
      </if>
      <if test="ctime != null" >
        ctime,
      </if>
      <if test="uptime != null" >
        uptime,
      </if>
      <if test="version != null" >
        version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="orders != null" >
        #{orders,jdbcType=BIGINT},
      </if>
      <if test="ctime != null" >
        #{ctime,jdbcType=BIGINT},
      </if>
      <if test="uptime != null" >
        #{uptime,jdbcType=BIGINT},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.micro.fast.upms.pojo.UpmsRole" >
    update upms_role
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="orders != null" >
        orders = #{orders,jdbcType=BIGINT},
      </if>
      <if test="ctime != null" >
        ctime = #{ctime,jdbcType=BIGINT},
      </if>
      <if test="uptime != null" >
        uptime = #{uptime,jdbcType=BIGINT},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.micro.fast.upms.pojo.UpmsRole" >
    update upms_role
    set name = #{name,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      orders = #{orders,jdbcType=BIGINT},
      ctime = #{ctime,jdbcType=BIGINT},
      uptime = #{uptime,jdbcType=BIGINT},
      version = #{version,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!--自定义-->
  <select id="selectByCondition" resultType="com.micro.fast.upms.pojo.UpmsRole">
    SELECT <include refid="Base_Column_List"/> FROM upms_role
    <where>
      <if test="name != null">
        and  NAME like #{name}
      </if>
      <if test="description != null">
        and description like #{description}
      </if>
    </where>
  </select>
  <delete id="deleteByPrimaryKeys">
    DELETE FROM upms_role WHERE
    id IN  <foreach collection="list" separator="," open="(" item="item" close=")">
    #{item}
  </foreach>
  </delete>

  <select id="selectRoleJoinWithUserId" resultType="com.micro.fast.upms.pojo.UpmsRole">
    SELECT <include refid="Base_Column_List"/> FROM upms_role WHERE
    id IN (SELECT role_id from upms_user_role WHERE user_id = #{userId})
  </select>

  <select id="selectRolesUserNotHaveByConditionPage" resultType="com.micro.fast.upms.pojo.UpmsRole">
    SELECT <include refid="Base_Column_List" /> FROM upms_role WHERE id not in (select role_id from upms_user_role WHERE upms_user_role.user_id = #{userId})
    <if test="roleName !=null">
      and name like #{roleName}
    </if>
  </select>
</mapper>