<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.micro.fast.ucenter.dao.UcenterUserLogMapper" >
  <resultMap id="BaseResultMap" type="com.micro.fast.ucenter.pojo.UcenterUserLog" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="user_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="ip" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ctime" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="uptime" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="version" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.micro.fast.ucenter.pojo.UcenterUserLog" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="user_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="ip" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ctime" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="uptime" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="version" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="content" jdbcType="VARBINARY" javaType="_byte[]" />
      <arg column="agent" jdbcType="VARBINARY" javaType="_byte[]" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, ip, ctime, uptime, version
  </sql>
  <sql id="Blob_Column_List" >
    content, agent
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from ucenter_user_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ucenter_user_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.micro.fast.ucenter.pojo.UcenterUserLog" >
    insert into ucenter_user_log (id, user_id, ip, 
      ctime, uptime, version, 
      content, agent)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{ip,jdbcType=VARCHAR}, 
      #{ctime,jdbcType=BIGINT}, #{uptime,jdbcType=BIGINT}, #{version,jdbcType=INTEGER}, 
      #{content,jdbcType=VARBINARY}, #{agent,jdbcType=VARBINARY})
  </insert>
  <insert id="insertSelective" parameterType="com.micro.fast.ucenter.pojo.UcenterUserLog" >
    insert into ucenter_user_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="ip != null" >
        ip,
      </if>
      <if test="ctime != null" >
        ctime,
      </if>
      <if test="uptime != null" >
        uptime,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="agent != null" >
        agent,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="ip != null" >
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="ctime != null" >
        #{ctime,jdbcType=BIGINT},
      </if>
      <if test="uptime != null" >
        #{uptime,jdbcType=BIGINT},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARBINARY},
      </if>
      <if test="agent != null" >
        #{agent,jdbcType=VARBINARY},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.micro.fast.ucenter.pojo.UcenterUserLog" >
    update ucenter_user_log
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="ip != null" >
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="ctime != null" >
        ctime = #{ctime,jdbcType=BIGINT},
      </if>
      <if test="uptime != null" >
        uptime = #{uptime,jdbcType=BIGINT},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARBINARY},
      </if>
      <if test="agent != null" >
        agent = #{agent,jdbcType=VARBINARY},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.micro.fast.ucenter.pojo.UcenterUserLog" >
    update ucenter_user_log
    set user_id = #{userId,jdbcType=INTEGER},
      ip = #{ip,jdbcType=VARCHAR},
      ctime = #{ctime,jdbcType=BIGINT},
      uptime = #{uptime,jdbcType=BIGINT},
      version = #{version,jdbcType=INTEGER},
      content = #{content,jdbcType=VARBINARY},
      agent = #{agent,jdbcType=VARBINARY}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.micro.fast.ucenter.pojo.UcenterUserLog" >
    update ucenter_user_log
    set user_id = #{userId,jdbcType=INTEGER},
      ip = #{ip,jdbcType=VARCHAR},
      ctime = #{ctime,jdbcType=BIGINT},
      uptime = #{uptime,jdbcType=BIGINT},
      version = #{version,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>